<p>
  <b>评论员:</b>
  <%= comment.commenter%>
</p>
<p>
  <b>内容:</b>
  <%= comment.body%>
  <%=link_to "删除",[comment.post,comment],
                   :confirm => '确认删除该评论?',
                   :method => :delete%> |
<%=link_to "修改",edit_post_comment_path(@post,comment)%>
</p>


