<!DOCTYPE html>
<html>
  <head>
    <title>Edit</title>
  </head>
  <body>
    <div id="content">
    <table>
      <tr>
        <td></td>
        <td><h1>Editing User</td></h1>
      </tr>
           <%= render 'form' %>
    <tr>
      <td></td>
      <td><h3><%= link_to '详情', @users %> |
             <%= link_to '返回', users_path %></td></h3>
    </tr>
</table>


    </div>
  </body>
</html>




