div#wrapper {
  width: 960px;
  margin: 10px auto;
  border: solid 1px #666;
  background-color: #066;
}

div#header, div#footer {
  background-color: #000;
  color: #ccc;
  margin: 5px;
  padding: 5px;
}

div#header a, div#footer a {
  color: #ccc;
}

div#contents {
  background-color: #fff;
  color: #000;
  margin: 5px;
  padding: 5px;
}

table.list {
  border-collapse: collapse;
  margin: 5px auto;
  width: 900px;
}

table.list tr.odd {
  background-color: #eee;
}

table.list td, table.list th {
  border: 0;
    border-bottom: 1px solid #e6ebec;
    padding: 1em 0.5em;
}

table.list th {
  text-align: center;
  background-color: #cc4;
  border-bottom: 3px solid #d2d8d9;
  padding-bottom: 0.7em;
  font-size: 116%;
}

table.attributes td, table.attributes th {
  border: 1px solid #000;
  padding: 2px;
}

/*container*/
#container {
    background: #fdfefe url(/assets/paper-edge.png) right top repeat-y;
    margin-bottom: 40px;
}

#container-inner {
    background: url(/assets/paper-crease.png) right bottom no-repeat;
    padding: 20px 20px 63px;
    position: relative;
}

.paperclip {
    background: url(/assets/sprite.png) 0 -260px no-repeat;
    width: 600px;
    height: 36px;
    position: absolute;
    left: -14px;
    top: 60px;
}

#container .button:hover {
    background-position: 0 -32px;
    border: 1px solid #999;
    color:#fff;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#container .submit {
    padding: 4px 25px;
    font-size: 123.1%;
    font-weight: bold;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.post-job a {
    display: block;
    float: right;
    background: url(/assets/write_blog.jpg) 0;
    width: 251px;
    height: 80px;
    text-indent: -9999em;
}

/*.post-job a:hover {
    background: url(/assets/sprite.png) 0 -170px no-repeat;
}*/

/* Header
-----------------------------------------------------------------------------*/

#header {
    margin: 30px 0 25px;
    position: relative;
}

#header h1 {
    display: inline;
}

#header h1 a {
    display: block;
    background: url(/assets/QQ截图20130407152036_2.jpg) 0 0 no-repeat;
    width: 520px;
    height: 86px;
    text-indent: -9999em;
}

#header .right {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

#header .member {
    margin-bottom: 20px;
    color: #696969;
}

body {
    background: #f1f0e8;
    margin: 0px;
    font-family: Geneva, 'Helvetica Neue', Helvetica, Arial, 'Apple LiGothic', 'Microsoft JhengHei', sans-serif;
    color:#000;
}