<p>Hello <%= @resource.email %>!</p>

<p>有人申请修改密码。你可以通过下面的链接。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你没有请求,请忽略此邮件.</p>
<p>Your密码不会改变直到你访问上面的链接并创建一个新的.</p>
